.container {
  max-width: 500px;
  margin: 0 auto;
  height: 550px;
  background: url("https://mobimg.b-cdn.net/v3/fetch/d6/d66af8c079d88c491c2f26e314ef3589.jpeg?h=900&r=0.5");
  background-size: cover;
  border-radius: 20px;
}
.form-box {
  margin-top: 150px;
}
.container h1 {
  text-align: center;
  margin-top: 100px;
  padding-bottom: 20px;
  padding-top: 10px;
  background: #ffffff;
  opacity: 0.5;
}
.form-group {
  padding: 20px 20px 5px 20px;

}
.form-group label {
  display: block;
  color: aliceblue;
  width: 80%;
  margin: 0 auto;
  padding: 5px;
}
.text-input {
  width: 80%;
  display: block;
  margin: auto;
  border-radius: 10px;
  height: 30px;
  border:none;
}
.form-button {
  display: block;
  width: 80%;
  margin: 0 auto;
  margin-top: 50px;
  border-radius: 10px;
  height: 35px;
  border: none;
  cursor: pointer;
}
.form-button-reg {
  display: block;
  width: 80%;
  margin: 0 auto;
  margin-top: 20px;
  border-radius: 10px;
  height: 35px;
  border: none;
  cursor: pointer;
}
.form-button-reg a {
  text-decoration: none;
  color: black;
}
